
.tablaAzul {     
    font-family: var(--bs-body-font-family);
    font-size: 1rem;    
    margin: 25px 45px 45px 65px;     
    width: 90%; 
    text-align: left;    
    border-collapse: collapse;
}

.tablath {     
    font-family: var(--bs-body-font-family);
    font-size: 1.1rem;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 0px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #003177;
}

.tablatd {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

tr:hover .tablatd  { background: #d0dafd; color: #339; }

.tablaSelect{
    font-family: var(--bs-body-font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #669; 
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.tablaH2{
    font-family: var(--bs-body-font-family);
    color: #003177;
    font-size: 30px;
    text-align: left;
    margin-top: 8px;
}
.spanAncho{
    font-weight: 700;
}

